/* Animations for blue triangle */
.blue-in {
    animation-duration: 1.2s;
    animation-delay: 0.3s;
    animation-fill-mode: both; /* Hide the element during the delay */
    animation-name: spring-top-right;
}

.black-in {
    animation-duration: 1.5s;
    animation-name: spring-top-left;
}

@keyframes spring-top-right {
    0% {
        transform: translate(-80%, 150%) rotate(60deg);
    }

    50% {
        transform: translate(-53%, 98%) rotate(60deg);
    }

    100% {
        transform: translate(-55%, 100%) rotate(60deg);
        /* transform: translate(-110vw, 437.5vh) rotate(60deg); */
    }
}

@keyframes spring-top-left {
    0% {
        transform: translate(50%, 50%) rotate(60deg);
    }

    50% {
        transform: translate(-3%, -3%) rotate(60deg);
    }

    100% {
        transform: translate(0%, 0%) rotate(60deg);
    }
}
