@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #e8ebed;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #e8ebed; /* Changed from 0a0a0a */
        --foreground: #e8ebed; /* ededed */
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    /* cursor: none; */
}

/* Hide the scroll bar */
/* body::-webkit-scrollbar {
    width: 0px;
} */
