@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light: theme("colors.light");
    --background: var(--light);
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--light);
        --foreground: var(--light);
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    /* cursor: none; */
}

/* Hide the scroll bar */
/* body::-webkit-scrollbar {
    width: 0px;
} */
